{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
<h2> Adding Entries to: {{ proper_name }}</h2>
<form action="/privatedns/add/new/{{ subnet_name }}/{{ number }}/" method="post">
    {% csrf_token %}

    {{ formset.management_form }}
    {% for form in formset %}
    <table border="0">
        <th colspan="2">{{ form.non_field_errors }}</th>
        <tr><td> {{ form.hostname.errors }} <b>Hostname:</b>{{ form.hostname }}</td>
        <td> {{ form.ip_or_cname.errors }} <b>IP or CNAME:</b> {{ form.ip_or_cname }}</td>
        </tr>
    </table>
    {% endfor %}

<input type="hidden" name='add' value="add">
<input type="hidden" name="sname" value="{{ subnet }}">
<input type="submit" value="SUBMIT">
</form>
<br>
<a href="{% url 'index' %}">Back</a>
